<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.mapper.UserRoomMapper">

    <resultMap id="BaseResultMap" type="com.todo.entity.UserRoom">
            <id property="userRoomId" column="user_room_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="roomId" column="room_id" jdbcType="BIGINT"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>
    <update id="updateDeleted">
        update user_room
        set deleted = 0
        where user_id = #{userId} and room_id = #{roomId};
    </update>

    <select id="selectBeforeInRoom" resultType="com.todo.entity.UserRoom">
        select *
        from user_room
        where user_id = #{userId} and room_id = #{roomId};
    </select>
</mapper>
